.GameStats {
  color: rgb(254, 254, 254);
  text-align: left;

  align-self: flex-start;
}
.GameStats ul {
  list-style-type: none;
}

.GameStats .value {
  font-weight: 500;
}

.GameStats li {
  font-weight: bold;
}

@media (max-width: 720px) {
  .GameStats {
    display: flex;
    justify-content: space-around;
  }
}
