.Preview {
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.937);
  border-radius: 0.5rem;
}

.Preview-board {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  width: 8rem;
  height: calc(1 * 8rem);
}
@media (max-width: 720px) {
  .Preview-board {
    width: 4rem;
    height: calc(1 * 4rem);
  }
}
